header,
main
{
   border: solid black 1px;
   padding: .5em;
}

header {
   grid-area: header;
   background-color: rgb(220, 227, 233);
}

main {
   grid-area: main;
   background-color: aliceblue;
   padding-top: 20px;
}

img {
   width: 500px;
   height: 500px;
   display: block;
   margin: auto;
   padding: 5px;
   border: 1px solid black;
}

.container {
   grid-template-columns: 1fr;
   grid-template-rows: minmax(200px, auto) minmax(200px, auto);
   grid-template-areas: 
   "header" 
   "main";
}
